<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654690926352-hm9eat6mmaloerl6s7rikqpkde2chj40.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654690926352-hm9eat6mmaloerl6s7rikqpkde2chj40</string>
	<key>API_KEY</key>
	<string>AIzaSyAQzwKSzw6Ctmyd2TbydmbuVtVev_o85tM</string>
	<key>GCM_SENDER_ID</key>
	<string>654690926352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rw.firebase.gettingstarted</string>
	<key>PROJECT_ID</key>
	<string>grocrdemoapp-rayw</string>
	<key>STORAGE_BUCKET</key>
	<string>grocrdemoapp-rayw.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654690926352:ios:8901781af04fc15b44ef95</string>
	<key>DATABASE_URL</key>
	<string>https://grocrdemoapp-rayw.firebaseio.com</string>
</dict>
</plist>